{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

<!DOCTYPE html>
<html>
{% block title %}
SM2KG
{% endblock %}

{% block content %}

<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SoMEF</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <h1 class = "display-4">Help</h1>
  
  <hr class = "my-4">
    <p>With an increase of complex scientific software, researchers need to spend a large portion of their time searching for avaliable software documentation and source code, and reading it to understand the software used and the proper way to cite it. SoMEF is designed to help highlight the most significant aspects of the scientific documentation by processing README files in GitHub repositories. It automatically extracts the contents of the README file into 4 categories: description, installation, invocation, or a citation of a software component.</p>


</div>
<div class = "FAQ">
<h3> Frequently Asked Questions</h3>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        What is the classifer threshold?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">The classifer threshold is a threshold that we use in our classifers to determine whether a sentence should be classified as a description, installation, invocation or citation.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Is having a higher or lower classifer threshold better?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">This is ultimately dependent on how strict you want the classifer to choose whether a sentence falls into a certain category. For example, a high classification threshold may cause certain sentences that are description sentences not be classified due to the small margin of error given by the threshold. On the other hand, if you were to give it a small classification threshold, it may cause sentences that are not description sentences to be classifed as such.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Am I required to give a classifer threshold?</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">If you do not provide a specific threshold, we will automatically use a threshold of 80%.</div>
    </div>
  </div>
</div>
</div>

{% endblock %}
</html>