build/*
dist/*
env*/*
.vscode/
.ipynb_checkpoints/
config.json
__pycache__/
.DS_Store
Lib/*
Scripts/*
.idea/*
*.json
!**/codemeta.json
!**/composer.json
!**/package.json
!**/bower.json
*.ttl
env_3.9/*
src/somef/create_corpus_for_NER.py
src/somef.egg-info/*
local_tests/*
Dockerfile_old
repos.txt
!package_neors.json
!package_npm.json
!test_data/api_responses/*.json
