.fixed-panel{
	max-height: 450px;
	overflow-y: scroll
}

.git-metadata{
	font-size: 20px;
}


.form-control{
  width: 100% !important;
  height: 75px !important;
  padding: 12px 20px !important;
  box-sizing: border-box !important;
  border: 2px solid #ccc;
  border-radius: 4px !important;
  background-color: #f8f8f8;
  resize: none !important;
  text-align: initial !important;
}

.control-label{
  font-size: 20px !important;
}

.container-content{
  top: 100000px !important;
}

.modal-header{
  text-align: center !important;
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.fadeText {
  font-size: 3.4rem;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}