.fixed-panel{
	max-height: 450px;
	overflow-y: scroll
}

body{
  background-color: #E8EDF2;
}

.panel{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-cog{
  background-color: #F2EFF1 !important;
}

.gitdata{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gitdata-header{
	font-size: 50px;
	text-align: center;
}
.gitdata-owner{
	font-size: 20px;
	text-align: center;
}
.gitdata-fetchdata{
	position: relative;
	width: 80%;
	left: 10%;
	min-height: 15vh;
	background-color: #fffcfd;
}
.gitdata-fetchdataleft{	
	width: 50%;
	height: 100%;
	float: left;
	font-size: 12px;
}

.navbar{
  background-color: #A4C8F2;
}

.navbar-text{
  color: black !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-weight: bold;
}
.header-logo{
  #background-color: red;
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 25px;
  height: 20px;
  left: 13%;
  padding-bottom: 0%;

}
.intro_text{
  position: relative;
  width: 40%;
  left: 30%;
  #background-color: red;
  font-size: 20px;
  }
.navbar-default .navbar-brand{
  color: black !important;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-nav > .active{
    color: #000;
    background: #DAE5F2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #DAE5F2;
}


.gitdata-fetchdataright{
	width: 50%;
	height: 100%;
	float: right;	
	font-size: 12px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-control{
  width: 100% !important;
  height: 50px !important;
  padding: 12px 20px !important;
  box-sizing: border-box !important;
  border: 2px solid #ccc;
  border-radius: 4px !important;
  background-color: #F2EFF1;
  resize: none !important;
  text-align: initial !important;
}

.inner{
  display: inline-block;
  margin: 1px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.control-label{
  font-size: 20px !important;
}

.container-content{
  top: 100000px !important;
}

.modal-header{
  text-align: center !important;
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.fadeText {
  font-size: 3.4rem;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

.navheader {
  width: 100%;  
}
.big-container {
  width: 100%;
  background-color: white;  
}
.gitdata-fullmetadata {
  background-color: #fffcfd;
}
.settings-btn {
  position: relative;
  height: 6vh;


}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;

