img {
	border-radius: 50%;
	height: 250px;
	width: 225px;
    display: block;
    margin: 0 auto;
	image-orientation: from-image;
}


.navbar{
  background-color: #A4C8F2;
}

body{
  background-color: #E8EDF2;
}

.navbar-text{
  color: black !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-weight: bold;
}

.navbar-default .navbar-brand{
  color: black !important;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-nav > .active{
    color: #000;
    background: #DAE5F2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #DAE5F2;
}

.container {
	align-items: flex-start;
	align-content: flex;
}

.jumbotron {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.center {
  text-align: center;
}

.card-title {
  text-align: center;
}

.card-img-top{
  text-align: center;
}

.card-text{
  text-align: center;
}