# This workflows will upload a Python Package using poetry when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Publish SOMEF package to PyPI

on:
  workflow_dispatch: 
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install Poetry
        run: curl -sSL https://install.python-poetry.org | python3 -
      - name: Update version
        run: python update_version.py
      - name: Install dependencies
        run: poetry install
      - name: Configure Poetry for PyPI
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_PASSWORD }}

      - name: Build and publish
        run: |
          poetry build
          poetry publish
